@use "../../utils/mixin";

/* Explorer */

.explorer {
    text-align: center;

    & h2 {
        font-size: 1.7rem;
    }

    & p {
        font-size: 1rem;
    }
    
    & button {
        @include mixin.bouton;
    }
    
    
        & button:hover {
        @include mixin.zoom;
        opacity: 0.9;
    }


}