@use '../../utils/variable';
@use '../../utils/mixin';

.menus {
    background-color: variable.$background;
    margin-bottom: 2rem;

        .menus__cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            @media (max-width: variable.$breakpoint){
                grid-template-columns: repeat(1, 1fr);
            }

            .new {
                position: relative;
            }
            .new::before {
                content:"Nouveau";
                position:absolute;
                height: 2rem;
                width: 5rem;
                background-color: variable.$tertiary;
                color: #008766;
                display: grid;
                place-items: center;
                right: 1rem;
                top: 1rem;
            }

    }
    .card {
        &__image {
        border-radius: 1rem 1rem 0 0;   
        background-size: cover;
        height: 15rem;
       }
       &__image1 {
        background-image: url("../../img/palette.jpg");
       }
       &__image2 {
        background-image: url("../../img/note.jpg");
       }
       &__image3 {
        background-image: url("../../img/francaise.jpg");
       }
       &__image4 {
        background-image: url("../../img/delice.jpg");
       }

       &__description{
           position: relative;
           background-color: #fff;
           border-radius: 0 0 1rem 1rem;
           h3 {
               margin-left: 0.5rem;
               padding-top: 0.5rem;
           }
           p {
               margin: 0.5rem;
           }
           i {
               font-size: 1.75rem;
               position: absolute;
               right: 1rem;
               top: 50%;
               transform: translateY(-50%);
           }
           .fas {
               color: transparent;
               @include mixin.gradient;
               background-clip: text;
               -webkit-background-clip: text;
               opacity: 0;
               transition: all 200ms;
           }
           &:hover .fas {
               opacity: 1;
               transform: translateY(-50%) scale(1.2);
           }
       }
    
    }
}
