@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@300;400;500&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 1rem;
}
@media (max-width: 1000px) {
  main {
    padding: 0rem;
  }
}

h2 {
  padding: 2rem 0;
  margin: 0;
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  padding: 0.3rem;
  box-shadow: 0 0 0.5rem #D5D5D5;
  margin: 0;
  position: relative;
}

.ville {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 0.5rem;
}
.ville i {
  font-size: 1.3rem;
}

/* Explorer */
.explorer {
  text-align: center;
}
.explorer h2 {
  font-size: 1.7rem;
}
.explorer p {
  font-size: 1rem;
}
.explorer button {
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  transition: transform 200ms;
  margin-top: 1rem;
  box-shadow: 2px 1px 8px -3px #CFCFCF;
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.etape {
  counter-reset: count;
}
.etape ol {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}
@media (max-width: 1000px) {
  .etape ol {
    flex-direction: column;
  }
}
.etape li {
  position: relative;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 2px 1px 8px -3px #CFCFCF;
}
.etape li::before {
  content: counter(count);
  counter-increment: count;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 1rem;
  left: -1rem;
}
.etape li:hover {
  transform: scale(1.02);
}
.etape i.fas {
  margin-right: 1rem;
  color: #7E7E7E;
  font-size: 1.3rem;
}

.menus {
  background-color: #f6f6f6;
  margin-bottom: 2rem;
}
.menus .menus__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 1000px) {
  .menus .menus__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.menus .menus__cards .new {
  position: relative;
}
.menus .menus__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #008766;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
.menus .card__image {
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
  height: 15rem;
}
.menus .card__image1 {
  background-image: url("../../img/palette.jpg");
}
.menus .card__image2 {
  background-image: url("../../img/note.jpg");
}
.menus .card__image3 {
  background-image: url("../../img/francaise.jpg");
}
.menus .card__image4 {
  background-image: url("../../img/delice.jpg");
}
.menus .card__description {
  position: relative;
  background-color: #fff;
  border-radius: 0 0 1rem 1rem;
}
.menus .card__description h3 {
  margin-left: 0.5rem;
  padding-top: 0.5rem;
}
.menus .card__description p {
  margin: 0.5rem;
}
.menus .card__description i {
  font-size: 1.75rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

footer {
  background-color: #353535;
  padding: 0 2rem;
  color: #FFFFFF;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  padding: 1rem 0;
}
footer p {
  padding: 0.3rem;
}

/*# sourceMappingURL=style.css.map */
