@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@300;400;500&display=swap');

*, ::before, ::after {
    box-sizing: border-box;

}

body {
    margin:0px;
    font-family: "Roboto", sans-serif;
}

header {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    padding: 0.3rem;
    box-shadow: 0 0 0.5rem #D5D5D5;
    margin: 0;
    position:relative;
}

main .ville {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA;
    padding: 0.5rem;
}

main .ville i {
    font-size: 1.3rem;
}