@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@300;400;500&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 1rem;
}
@media (max-width: 1000px) {
  main {
    padding: 0rem;
  }
}

h2 {
  padding: 2rem 0;
  margin: 0;
}

h3 {
  margin: 0;
  padding: 0 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  padding: 0.3rem;
  box-shadow: 0 0 0.5rem #D5D5D5;
  margin: 0;
  position: relative;
}

.ville {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 0.5rem;
}
.ville i {
  font-size: 1.3rem;
}

/* Explorer */
.explorer {
  text-align: center;
}
.explorer h2 {
  font-size: 1.7rem;
}
.explorer p {
  font-size: 1rem;
}
.explorer button {
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms;
  margin-top: 1rem;
  box-shadow: 2px 1px 8px -3px #CFCFCF;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  cursor: pointer;
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.etape {
  counter-reset: count;
}
.etape ol {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}
@media (max-width: 1200px) {
  .etape ol {
    flex-direction: column;
  }
}
.etape li {
  position: relative;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 2px 1px 8px -3px #CFCFCF;
}
.etape li::before {
  content: counter(count);
  counter-increment: count;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 1rem;
  left: -1rem;
}
.etape li:hover {
  transform: scale(1.02);
}
.etape i.fas {
  margin-right: 1rem;
  color: #7E7E7E;
  font-size: 1.3rem;
}

.menus {
  background-color: #f6f6f6;
  margin-bottom: 2rem;
}
.menus .menus__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 1200px) {
  .menus .menus__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.menus .menus__cards .new {
  position: relative;
}
.menus .menus__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #008766;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
.menus .card__image {
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
  height: 15rem;
}
.menus .card__image1 {
  background-image: url("../../img/palette.jpg");
}
.menus .card__image2 {
  background-image: url("../../img/note.jpg");
}
.menus .card__image3 {
  background-image: url("../../img/francaise.jpg");
}
.menus .card__image4 {
  background-image: url("../../img/delice.jpg");
}
.menus .card__description {
  position: relative;
  background-color: #fff;
  border-radius: 0 0 1rem 1rem;
}
.menus .card__description h3 {
  margin-left: 0.5rem;
  padding-top: 0.5rem;
}
.menus .card__description p {
  margin: 0.5rem;
}
.menus .card__description i {
  font-size: 1.75rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.menus .card__description .fas {
  color: transparent;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms;
}
.menus .card__description:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}

footer {
  background-color: #353535;
  padding: 0 2rem;
  color: #FFFFFF;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  padding: 1rem 0;
}
footer p {
  padding: 0.3rem;
}

@keyframes rotation {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
.banner img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: top;
}

header {
  position: relative;
}
header .fas.fa-arrow-left {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

main {
  padding: 0;
}

h2 {
  font-family: "Shrikhand", cursive;
  padding: 1rem;
}

.resto-main {
  padding: 0 2rem;
  background-color: #f6f6f6;
}
.resto-main h3 {
  font-weight: 400;
  position: relative;
}
.resto-main h3::after {
  content: "";
  position: absolute;
  height: 0.25rem;
  background-color: #99E2D0;
  left: 1rem;
  top: 1.6rem;
  width: 3rem;
}
.resto-main .bouton-commander {
  height: 15vh;
  display: grid;
  place-items: center;
}
.resto-main .bouton-commander button {
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms;
  margin-top: 1rem;
  box-shadow: 2px 1px 8px -3px #CFCFCF;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  cursor: pointer;
}
.resto-main .bouton-commander button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.title-palette {
  position: relative;
  border-radius: 1rem 1rem 0 0;
  margin-top: -1rem;
  background-color: #f6f6f6;
}

.title-palette i {
  font-size: 1.75rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.title-palette .fas {
  color: transparent;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms;
}
.title-palette .fas:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}

.menus {
  background-color: #f6f6f6;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1200px) {
  .menus {
    grid-template-columns: 1fr;
  }
  .menus .menus__categorie {
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
  }
  .menus .menus__categorie h4 {
    padding: 1rem 0 0 1rem;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .menus .menus__categorie p {
    padding: 0.5rem 0 1rem 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .menus .menus__categorie .menu-item {
    display: flex;
    overflow: hidden;
    box-shadow: 2px 1px 8px -3px #CFCFCF;
    border-radius: 0 1rem 1rem 0;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .menus .menus__categorie .menu-item:hover {
    cursor: pointer;
  }
  .menus .menus__categorie .menu-item__prix {
    display: flex;
    align-items: end;
    margin-left: auto;
    font-weight: 900;
    padding: 0 2rem 1rem 0;
  }
  .menus .menus__categorie .menu-item__description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .menus .menus__categorie .menu-item__check {
    width: 4rem;
    background-color: #99E2D0;
    margin-right: -4rem;
    border-radius: 0 1rem 1rem 0;
    transition: margin-right 0.5s;
    display: grid;
    place-items: center;
  }
  .menus .menus__categorie .menu-item__check i {
    display: grid;
    place-items: center;
    background: white;
    border-radius: 1rem;
    width: 2rem;
    aspect-ratio: 1;
    color: #99E2D0;
  }
  .menus .menus__categorie .menu-item:hover .menu-item__check {
    margin-right: 0;
  }
  .menus .menus__categorie .menu-item:hover .menu-item__check i {
    animation: rotation 0.5s ease-in;
  }
}

/*# sourceMappingURL=style.css.map */
